* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

@font-face {
    font-family: 'Coolvetica';
    src: url(../fonts/coolvetica-rg.ttf);
}

header, main, footer {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
.container-navg {
    display: flex;
}

figure {
    display: flex;
}